# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp

# Database & Testing
*.db
*.sqlite
*.pytest_cache
