# Secrets & API Key Files
.env
*key*.txt
*_key.txt
TMDB_key.txt

# Heavy Raw Data Files (> 5 MB)
Data/imdb.title.principals.csv
Data/imdb.name.basics.csv
Data/genres.csv
Data/genres_test.csv
Data/imdb.title.akas.csv
Data/imdb.title.basics.csv
Data/imdb.title.crew.csv
*.zip
*.tar.gz

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# OS metadata
.DS_Store
._*
Thumbs.db
Desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp

# Database & Testing
*.db
*.sqlite
*.pytest_cache
